body{
    color:blue;
}
.table{
    display:flex;
}

.element{
    color:green;
    border: solid 5px;
    border-color:gray;
    margin-top:5px;
    margin-bottom:5px;
    width:100px;
    margin-right:10px;
}